<a href="https://colab.research.google.com/github/melinalessa/AnaliseExploratoriaPandas/blob/main/exe5_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando PANDAS

In [7]:
import pandas as pd

Criar Variável

In [8]:
df= pd.read_csv('CardioGoodFitness.csv', sep=",")
df

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
0,TM195,18,Male,14,Single,3,4,29562,112
1,TM195,19,Male,15,Single,2,3,31836,75
2,TM195,19,Female,14,Partnered,4,3,30699,66
3,TM195,19,Male,12,Single,3,3,32973,85
4,TM195,20,Male,13,Partnered,4,2,35247,47
...,...,...,...,...,...,...,...,...,...
175,TM798,40,Male,21,Single,6,5,83416,200
176,TM798,42,Male,18,Single,5,4,89641,200
177,TM798,45,Male,16,Single,5,5,90886,160
178,TM798,47,Male,18,Partnered,4,5,104581,120
179,TM798,48,Male,18,Partnered,4,5,95508,180

Ver quantidade de linhas e colunas

In [9]:
df.shape

(180, 9)

Ver os tipos de dados das colunas

In [10]:
df.dtypes

Product          object
Age               int64
Gender           object
Education         int64
MaritalStatus    object
Usage             int64
Fitness           int64
Income            int64
Miles             int64
dtype: object

Alterar Income para float

In [13]:
df['Income'] = df['Income'].astype(float)
df.dtypes

Product           object
Age                int64
Gender            object
Education          int64
MaritalStatus     object
Usage              int64
Fitness            int64
Income           float64
Miles              int64
dtype: object

In [14]:
df['Gender'].value_counts()

Male      104
Female     76
Name: Gender, dtype: int64

In [15]:
df['MaritalStatus'].value_counts()

Partnered    107
Single        73
Name: MaritalStatus, dtype: int64

In [16]:
df['Product'].value_counts()

TM195    80
TM498    60
TM798    40
Name: Product, dtype: int64

In [17]:
df['Age'].value_counts()

25    25
23    18
24    12
26    12
28     9
35     8
33     8
30     7
38     7
21     7
22     7
27     7
31     6
34     6
29     6
20     5
40     5
32     4
19     4
48     2
37     2
45     2
47     2
46     1
50     1
18     1
44     1
43     1
41     1
39     1
36     1
42     1
Name: Age, dtype: int64

Verificar a idade especifica

In [24]:
df[df['Age']==30].value_counts()

Product  Age  Gender  Education  MaritalStatus  Usage  Fitness  Income    Miles
TM195    30   Male    14         Partnered      4      4        46617.0   141      1
                                 Single         3      3        54576.0   85       1
TM498    30   Female  13         Single         4      3        46617.0   106      1
                      14         Single         3      3        57987.0   74       1
TM798    30   Female  16         Partnered      6      5        90886.0   280      1
              Male    18         Partnered      5      4        103336.0  160      1
                                                       5        99601.0   150      1
dtype: int64

In [19]:
df_json= pd.read_json('CardioGoodFitness.json')
df_json

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
0,TM195,18,Male,14,Single,3,4,29562,112
1,TM195,19,Male,15,Single,2,3,31836,75
2,TM195,19,Female,14,Partnered,4,3,30699,66
3,TM195,19,Male,12,Single,3,3,32973,85
4,TM195,20,Male,13,Partnered,4,2,35247,47
...,...,...,...,...,...,...,...,...,...
175,TM798,40,Male,21,Single,6,5,83416,200
176,TM798,42,Male,18,Single,5,4,89641,200
177,TM798,45,Male,16,Single,5,5,90886,160
178,TM798,47,Male,18,Partnered,4,5,104581,120
179,TM798,48,Male,18,Partnered,4,5,95508,180